@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --gray: rgb(211, 209, 209);
  --primary: #4D6AB3;
  --secondary: #6792bc;
  --tertiary: #b8d6f6;
  --dark1: #191819;
  --dark2: #333438;
  --dark3: #3B3C40;
  --dark4: #4D5158;
  --dark5: #5E6268;
  --dark6: #6F7379;
  --dark7: #808488;
  --red: #f69d9d;
  --green: #8cf3b7;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

